<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    회원가입 페이지

    <form>
        <input type="text" name="userId" id="userId" placeholder="Enter userId">
        <input type="text" name="password" id="password" placeholder="Enter password">
        <input type="text" name="name" id="name" placeholder="Enter name">

        <button type="button" onclick="signUp()">회원가입</button>
    </form>
</body>
<script>
    function signUp() {
        fetch("http://localhost:8080/user/sign", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                userId: $('#userId').val(),
                password: $('#password').val(),
                name: $('#name').val()})
            })
            .then(response => response.json())
            .then(responseData => {
                if (responseData.statusCode == 200) {
                    window.location.href = '/'
                }
            });
    }
</script>
</html>